{% extends 'main/base.html' %}

{% block content %}
<h3>Российский сервис микроблогов и социальная сеть</h3>
<div>
    <p>
       Пользователи могут объединять группу сообщений по теме или типу с использованием хештегов — ключевых слов или фраз,
       начинающихся со знака октоторпа. Кроме того, буква d перед именем пользователя позволяет отправлять с
       ообщения в частном порядке, приватно. Наконец, знак @ перед именем пользователя используется для упоминания или
       ответа другим пользователям. В конце 2009 года была добавлена функция «Списки „ТВОЕГО-БЛОГА“», что позволяет
       пользователям следить (а также отмечать и отвечать) за списками авторов, а не за отдельными авторами.
    </p>
    <p>
        Через SMS пользователи могут общаться с «ТВОЙ-БЛОГ» через пять шлюзовых номеров: короткие коды
        для Соединённых Штатов Америки, Канады, Индии, Новой Зеландии и острова Мэн. Существует также
        короткий код в Соединённом Королевстве, который доступен только для абонентов на Vodafone, O2 и Orange
        . В Индии «ТВОЙ-БЛОГ» поддерживает только твиты с Bharti Airtel. Аналогичная платформа под названием GladlyCast
        существует для мобильных телефонов пользователей в Сингапуре, Малайзии и Филиппинах.
    </p>
</div>
{% endblock %}